.images-wrapper {
  position: relative;
}
.image-to-show {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.image-to-show.visible {
  display: block;
}
button {
  position: relative;
  z-index: 100;
}

.dark {
  background-color: #333;
  color: rgb(255, 255, 255);
}
